/* Komol's code starts here */
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}

.buttons1 {
  width: 600px;
  height: 90px;
  background-color: #24292a;
  border-radius: 40px;
  margin: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
/* Komol's code ends here */

/* Jamshidbek 2787 */

