.texts-and-button {
    width: 500px;
    height: 300px;
    margin-left: 100px;
  }
  .text1 {
    color: #fff;
    font-size: 44px;
    padding: 10px;
  }
  .text2 {
    color: #a5a6a7;
    font-size: 16px;
    padding: 20px;
  }
  .buttons {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  .designers {
    display: flex;
    gap: 50px;
    margin-left: 70px;
  }